<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @*<style>

         body {
            background: url('/wwwroot/img/nba.png');
            background-size: 300px 100px;
        }
    </style>*@

</head>
<body style="background-color:#e7e7e7">
    <h1 class="text-center">Welcome</h1>
    @*<label for="teams">Teams</label>
    <a id="teams" style="text-align:center" asp-area="" asp-controller="Team" asp-action="TeamIndex"><img src="~/img/teams.jpg" /></a>*@
    
</body>
</html>
